#ignore env
.env

#ignore db
recetasapi/.db.sqlite3

#ignore other things
recetasapi/recetas/.migrations

# Byte-compiled / optimized / DLL files
recetasapi/recetas/.__pycache__
recetasapi/recetasapi/.__pycache__